<h1>
  <%= @flat.name %>
</h1>
<p>
  <%= @flat.address %>
</p>
<h3>
  Abit more about this flat...
</h3>
<p>
  <%= @flat.description %>
</p>
$<%= @flat.price_per_night %>
<p>
  <%= @flat.number_of_guests %> Pax
</p>
